body {
  background-color: #ebf7fc;
  font-family: "Times New Roman", Times, serif;
}

.row {
  text-align: center;
  padding: 10px;
}

.table {
  text-align: left;
}

.last {
  background-color: #00C5D8;
}

.errorlist {
  color: red;
}

.error {
  border-color: red;
}

ul {
  list-style-type: none;
}
