.product-image {
  height: 200px;
  width: 100%;
}

body {
  background-color: #ebf7fc;
}

.card {
  display: inline-block;
  text-align: center;
  background-color: #66CCFF;
  border-radius: 10%;
}

.row {
  text-align: center;
  padding: 10px 0;
}

.card-body {
  padding: 10%;
}

.container {
  padding: 10px 0;
}

img {
  overflow: hidden;
}

table {
  width: 100%;
}

tr, th, td {
  padding: 10px 10px;
}
