body {
  background-color: #ebf7fc;
  font-family: "Times New Roman", Times, serif;
}

.card {
  display: inline-block;
  text-align: center;
  background-color: #66CCFF;
  border-radius: 5%;
}

.row {
  text-align: center;
  padding: 10px;
}

.card-body {
  padding: 10%;
}
