{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sales Form</title>

    <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- ************ -->

    <!-- CSS Stylesheet -->
      <link rel="stylesheet" href="{% static 'myapp/css/sales_form.css' %}">
    <!-- ************ -->
  </head>
  <body>

    <div class="container">
      <div class="row">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>

    <form name="place_order" method="POST" action="/sales/form">
      {% csrf_token %}
    <div class="container">
      <div class="row">
        <h1> Sales form </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2>Step 1: Choose your drinks...</h2>
      </div>
      <div class="row">
        {% for p in products %}
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body item">
              <h5 class="card-title">{{p.name}}</h5>
              <p class="card-text">Price: $<span class="price">{{p.price}}</span>/cup</p>
              <label> Select Quantity </label><input class="quantity" name={{p.name}} type="number" value="0" min="0" oninput="validity.valid||(value='');">
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" onclick="add_items()"> Add to cart </button>
      </div>
      <div class="row">
        <textarea rows="5" cols="80" readonly id="order_items" name="order"> </textarea>
      </div>
      <div class="row">
        <label> Total Amount </label> <input id="total" readonly name="total" value=0 />
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2>Step 2: Let Us Know Who Assisted You!</h2>
      </div>
      <div class="row">
      <select name="sales_rep" class="form-control">
        {% for rep in sales_rep %}
          <option value="{{rep.id}}"> {{rep.EmployeeName}} </option>
        {% endfor %}
      </select>
    </div>
    </div>

    <div class="container">
      <div class="row">
        <input type="submit" class="btn btn-primary" value="Place Order" />
      </div>
    </div>

  </form>

  {% block js %}
  <script>

    $(document).ready(function(){
      $(".success").fadeTo(2000, 500).slideUp(500, function(){
        $(".success").slideUp(600);
      });
    })

    function add_items() {
      var total = 0.00;
      var order = "";
      var item = document.getElementsByClassName("price");
      for(i = 0;i < item.length; i++) {
        var quantity = item[i].parentElement.parentElement.children[3].value;
        if(quantity != 0) {
          total = total + quantity * parseFloat(item[i].innerHTML);
          order = order + quantity + " * " + item[i].parentElement.parentElement.children[0].innerText + "\n";
        }
      }
      $("#total").val(total);
      $("#order_items").val(order);
    }
  </script>
  {% endblock %}

  </body>
</html>
